* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  background-color: #eee;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 10px;
  position: relative;
  float: left;
  overflow: hidden;
  line-height: 65px;
  text-align: center;
  color: white;
  font-family: 'FontAwesome';
  font-size: 35px;
  text-align: center;
}

.eclipse {
  width: 63px;
  height: 63px;
  margin: 8.5px;
  border-radius: 50px;
}

.rounded {
  border-radius: 5%;
}

.facebook {
  text-shadow: 40px 40px 0 #1a336f, 39px 39px 0 #1a336f, 38px 38px 0 #1a336f, 37px 37px 0 #1a336f, 36px 36px 0 #1a336f, 35px 35px 0 #1a336f, 34px 34px 0 #1a336f, 33px 33px 0 #1a336f, 32px 32px 0 #1a336f, 31px 31px 0 #1a336f, 30px 30px 0 #1a336f, 29px 29px 0 #1a336f, 28px 28px 0 #1a336f, 27px 27px 0 #1a336f, 26px 26px 0 #1a336f, 25px 25px 0 #1a336f, 24px 24px 0 #1a336f, 23px 23px 0 #1a336f, 22px 22px 0 #1a336f, 21px 21px 0 #1a336f, 20px 20px 0 #1a336f, 19px 19px 0 #1a336f, 18px 18px 0 #1a336f, 17px 17px 0 #1a336f, 16px 16px 0 #1a336f, 15px 15px 0 #1a336f, 14px 14px 0 #1a336f, 13px 13px 0 #1a336f, 12px 12px 0 #1a336f, 11px 11px 0 #1a336f, 10px 10px 0 #1a336f, 9px 9px 0 #1a336f, 8px 8px 0 #1a336f, 7px 7px 0 #1a336f, 6px 6px 0 #1a336f, 5px 5px 0 #1a336f, 4px 4px 0 #1a336f, 3px 3px 0 #1a336f, 2px 2px 0 #1a336f, 1px 1px 0 #1a336f;
  background-color: #2850ad;
}

.twitter {
  text-shadow: 40px 40px 0 #28a6e6, 39px 39px 0 #28a6e6, 38px 38px 0 #28a6e6, 37px 37px 0 #28a6e6, 36px 36px 0 #28a6e6, 35px 35px 0 #28a6e6, 34px 34px 0 #28a6e6, 33px 33px 0 #28a6e6, 32px 32px 0 #28a6e6, 31px 31px 0 #28a6e6, 30px 30px 0 #28a6e6, 29px 29px 0 #28a6e6, 28px 28px 0 #28a6e6, 27px 27px 0 #28a6e6, 26px 26px 0 #28a6e6, 25px 25px 0 #28a6e6, 24px 24px 0 #28a6e6, 23px 23px 0 #28a6e6, 22px 22px 0 #28a6e6, 21px 21px 0 #28a6e6, 20px 20px 0 #28a6e6, 19px 19px 0 #28a6e6, 18px 18px 0 #28a6e6, 17px 17px 0 #28a6e6, 16px 16px 0 #28a6e6, 15px 15px 0 #28a6e6, 14px 14px 0 #28a6e6, 13px 13px 0 #28a6e6, 12px 12px 0 #28a6e6, 11px 11px 0 #28a6e6, 10px 10px 0 #28a6e6, 9px 9px 0 #28a6e6, 8px 8px 0 #28a6e6, 7px 7px 0 #28a6e6, 6px 6px 0 #28a6e6, 5px 5px 0 #28a6e6, 4px 4px 0 #28a6e6, 3px 3px 0 #28a6e6, 2px 2px 0 #28a6e6, 1px 1px 0 #28a6e6;
  background-color: #29c5f6;
}

.dribbble {
  text-shadow: 40px 40px 0 #d92f63, 39px 39px 0 #d92f63, 38px 38px 0 #d92f63, 37px 37px 0 #d92f63, 36px 36px 0 #d92f63, 35px 35px 0 #d92f63, 34px 34px 0 #d92f63, 33px 33px 0 #d92f63, 32px 32px 0 #d92f63, 31px 31px 0 #d92f63, 30px 30px 0 #d92f63, 29px 29px 0 #d92f63, 28px 28px 0 #d92f63, 27px 27px 0 #d92f63, 26px 26px 0 #d92f63, 25px 25px 0 #d92f63, 24px 24px 0 #d92f63, 23px 23px 0 #d92f63, 22px 22px 0 #d92f63, 21px 21px 0 #d92f63, 20px 20px 0 #d92f63, 19px 19px 0 #d92f63, 18px 18px 0 #d92f63, 17px 17px 0 #d92f63, 16px 16px 0 #d92f63, 15px 15px 0 #d92f63, 14px 14px 0 #d92f63, 13px 13px 0 #d92f63, 12px 12px 0 #d92f63, 11px 11px 0 #d92f63, 10px 10px 0 #d92f63, 9px 9px 0 #d92f63, 8px 8px 0 #d92f63, 7px 7px 0 #d92f63, 6px 6px 0 #d92f63, 5px 5px 0 #d92f63, 4px 4px 0 #d92f63, 3px 3px 0 #d92f63, 2px 2px 0 #d92f63, 1px 1px 0 #d92f63;
  background-color: #f85993;
}

.google {
  text-shadow: 40px 40px 0 #cc2f1a, 39px 39px 0 #cc2f1a, 38px 38px 0 #cc2f1a, 37px 37px 0 #cc2f1a, 36px 36px 0 #cc2f1a, 35px 35px 0 #cc2f1a, 34px 34px 0 #cc2f1a, 33px 33px 0 #cc2f1a, 32px 32px 0 #cc2f1a, 31px 31px 0 #cc2f1a, 30px 30px 0 #cc2f1a, 29px 29px 0 #cc2f1a, 28px 28px 0 #cc2f1a, 27px 27px 0 #cc2f1a, 26px 26px 0 #cc2f1a, 25px 25px 0 #cc2f1a, 24px 24px 0 #cc2f1a, 23px 23px 0 #cc2f1a, 22px 22px 0 #cc2f1a, 21px 21px 0 #cc2f1a, 20px 20px 0 #cc2f1a, 19px 19px 0 #cc2f1a, 18px 18px 0 #cc2f1a, 17px 17px 0 #cc2f1a, 16px 16px 0 #cc2f1a, 15px 15px 0 #cc2f1a, 14px 14px 0 #cc2f1a, 13px 13px 0 #cc2f1a, 12px 12px 0 #cc2f1a, 11px 11px 0 #cc2f1a, 10px 10px 0 #cc2f1a, 9px 9px 0 #cc2f1a, 8px 8px 0 #cc2f1a, 7px 7px 0 #cc2f1a, 6px 6px 0 #cc2f1a, 5px 5px 0 #cc2f1a, 4px 4px 0 #cc2f1a, 3px 3px 0 #cc2f1a, 2px 2px 0 #cc2f1a, 1px 1px 0 #cc2f1a;
  background-color: #e75c3c;
}

.rss {
  text-shadow: 40px 40px 0 #e05b1b, 39px 39px 0 #e05b1b, 38px 38px 0 #e05b1b, 37px 37px 0 #e05b1b, 36px 36px 0 #e05b1b, 35px 35px 0 #e05b1b, 34px 34px 0 #e05b1b, 33px 33px 0 #e05b1b, 32px 32px 0 #e05b1b, 31px 31px 0 #e05b1b, 30px 30px 0 #e05b1b, 29px 29px 0 #e05b1b, 28px 28px 0 #e05b1b, 27px 27px 0 #e05b1b, 26px 26px 0 #e05b1b, 25px 25px 0 #e05b1b, 24px 24px 0 #e05b1b, 23px 23px 0 #e05b1b, 22px 22px 0 #e05b1b, 21px 21px 0 #e05b1b, 20px 20px 0 #e05b1b, 19px 19px 0 #e05b1b, 18px 18px 0 #e05b1b, 17px 17px 0 #e05b1b, 16px 16px 0 #e05b1b, 15px 15px 0 #e05b1b, 14px 14px 0 #e05b1b, 13px 13px 0 #e05b1b, 12px 12px 0 #e05b1b, 11px 11px 0 #e05b1b, 10px 10px 0 #e05b1b, 9px 9px 0 #e05b1b, 8px 8px 0 #e05b1b, 7px 7px 0 #e05b1b, 6px 6px 0 #e05b1b, 5px 5px 0 #e05b1b, 4px 4px 0 #e05b1b, 3px 3px 0 #e05b1b, 2px 2px 0 #e05b1b, 1px 1px 0 #e05b1b;
  background-color: #ff9845;
}

.linkedin {
  text-shadow: 40px 40px 0 #1b74c7, 39px 39px 0 #1b74c7, 38px 38px 0 #1b74c7, 37px 37px 0 #1b74c7, 36px 36px 0 #1b74c7, 35px 35px 0 #1b74c7, 34px 34px 0 #1b74c7, 33px 33px 0 #1b74c7, 32px 32px 0 #1b74c7, 31px 31px 0 #1b74c7, 30px 30px 0 #1b74c7, 29px 29px 0 #1b74c7, 28px 28px 0 #1b74c7, 27px 27px 0 #1b74c7, 26px 26px 0 #1b74c7, 25px 25px 0 #1b74c7, 24px 24px 0 #1b74c7, 23px 23px 0 #1b74c7, 22px 22px 0 #1b74c7, 21px 21px 0 #1b74c7, 20px 20px 0 #1b74c7, 19px 19px 0 #1b74c7, 18px 18px 0 #1b74c7, 17px 17px 0 #1b74c7, 16px 16px 0 #1b74c7, 15px 15px 0 #1b74c7, 14px 14px 0 #1b74c7, 13px 13px 0 #1b74c7, 12px 12px 0 #1b74c7, 11px 11px 0 #1b74c7, 10px 10px 0 #1b74c7, 9px 9px 0 #1b74c7, 8px 8px 0 #1b74c7, 7px 7px 0 #1b74c7, 6px 6px 0 #1b74c7, 5px 5px 0 #1b74c7, 4px 4px 0 #1b74c7, 3px 3px 0 #1b74c7, 2px 2px 0 #1b74c7, 1px 1px 0 #1b74c7;
  background-color: #3a9bdc;
}

.pinterest {
  text-shadow: 40px 40px 0 #d62d2e, 39px 39px 0 #d62d2e, 38px 38px 0 #d62d2e, 37px 37px 0 #d62d2e, 36px 36px 0 #d62d2e, 35px 35px 0 #d62d2e, 34px 34px 0 #d62d2e, 33px 33px 0 #d62d2e, 32px 32px 0 #d62d2e, 31px 31px 0 #d62d2e, 30px 30px 0 #d62d2e, 29px 29px 0 #d62d2e, 28px 28px 0 #d62d2e, 27px 27px 0 #d62d2e, 26px 26px 0 #d62d2e, 25px 25px 0 #d62d2e, 24px 24px 0 #d62d2e, 23px 23px 0 #d62d2e, 22px 22px 0 #d62d2e, 21px 21px 0 #d62d2e, 20px 20px 0 #d62d2e, 19px 19px 0 #d62d2e, 18px 18px 0 #d62d2e, 17px 17px 0 #d62d2e, 16px 16px 0 #d62d2e, 15px 15px 0 #d62d2e, 14px 14px 0 #d62d2e, 13px 13px 0 #d62d2e, 12px 12px 0 #d62d2e, 11px 11px 0 #d62d2e, 10px 10px 0 #d62d2e, 9px 9px 0 #d62d2e, 8px 8px 0 #d62d2e, 7px 7px 0 #d62d2e, 6px 6px 0 #d62d2e, 5px 5px 0 #d62d2e, 4px 4px 0 #d62d2e, 3px 3px 0 #d62d2e, 2px 2px 0 #d62d2e, 1px 1px 0 #d62d2e;
  background-color: #fe4445;
}

.youtube {
  text-shadow: 40px 40px 0 #ca261f, 39px 39px 0 #ca261f, 38px 38px 0 #ca261f, 37px 37px 0 #ca261f, 36px 36px 0 #ca261f, 35px 35px 0 #ca261f, 34px 34px 0 #ca261f, 33px 33px 0 #ca261f, 32px 32px 0 #ca261f, 31px 31px 0 #ca261f, 30px 30px 0 #ca261f, 29px 29px 0 #ca261f, 28px 28px 0 #ca261f, 27px 27px 0 #ca261f, 26px 26px 0 #ca261f, 25px 25px 0 #ca261f, 24px 24px 0 #ca261f, 23px 23px 0 #ca261f, 22px 22px 0 #ca261f, 21px 21px 0 #ca261f, 20px 20px 0 #ca261f, 19px 19px 0 #ca261f, 18px 18px 0 #ca261f, 17px 17px 0 #ca261f, 16px 16px 0 #ca261f, 15px 15px 0 #ca261f, 14px 14px 0 #ca261f, 13px 13px 0 #ca261f, 12px 12px 0 #ca261f, 11px 11px 0 #ca261f, 10px 10px 0 #ca261f, 9px 9px 0 #ca261f, 8px 8px 0 #ca261f, 7px 7px 0 #ca261f, 6px 6px 0 #ca261f, 5px 5px 0 #ca261f, 4px 4px 0 #ca261f, 3px 3px 0 #ca261f, 2px 2px 0 #ca261f, 1px 1px 0 #ca261f;
  background-color: #e74c3c;
}

.container {
  margin: 200px auto;
  width: 700px;
  height: auto;
}

.clear {
  clear: both;
}