    .share, .share:before, .share:after, .fab {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.fab i{
	margin-left: 39%;
	margin-top: 35%;
	color: #fff;
}


.share {
  position: fixed;
  top: 90%;
  background: #000;
  left: 1%;
  z-index: 5;
}
.share:before, .share:after {
  content: '';
  will-change: transform;
}
.share:before {
  background: url('../logo.jpg') center/28px no-repeat;
	transform: scale(2); 
  z-index: 5;
  transition: 0.3s;
}
.share:after {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: -1;
  -webkit-transition: 0.39s;
  transition: 0.39s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.share.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.share.active:after {
  width: 3000px;
  height: 3000px;
}

.fab {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: 0.3s down forwards;
          animation: 0.3s down forwards;
  opacity: 0;
  will-change: animation;
}
/*
.fab:nth-child(1) {
  background: #1DA1F2;
  top: -126px;
}
*/
.fab:nth-child(1) {
  background: #46629E;
  top: -42px;
}
.fab:nth-child(2) {
  background: #DB4437;
}
/*
.fab:nth-child(4) {
  background: #FF5722;
}
*/
.fab.active {
  -webkit-animation: 0.48s up forwards;
          animation: 0.48s up forwards;
}
.fab.active:nth-child(1) {
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s;
}
.fab.active:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.fab.na {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes up {
  50% {
    -webkit-transform: translateY(-170%);
            transform: translateY(-170%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
}

@keyframes up {
  50% {
    -webkit-transform: translateY(-170%);
            transform: translateY(-170%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
}
@-webkit-keyframes down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
  }
}
@keyframes down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
  }
}
